{% load static %}

<div class="bg-secondary text-white text-center py-3">
        desarrollado por Lolett Llanquinao para Desafío Latam
</div>   
<div class="social-icons text-center">
        <a href="https://www.instagram.com/" target="_blank"><img src="{% static 'img/icons/instagram.svg' %}" alt="Instagram" class="social-icon"></a>
        <a href="https://web.facebook.com/" target="_blank"><img src="{% static 'img/icons/facebook.svg' %}" alt="Facebook" class="social-icon"></a>
        <a href="https://www.tiktok.com/" target="_blank"><img src="{% static 'img/icons/tiktok.svg' %}" alt="TikTok" class="social-icon"></a>
        <a href="https://pbs.twimg.com/tweet_video_thumb/Dvv0UazXcAAN5of.jpg" target="_blank"><img src="{% static 'img/icons/check-solid.svg' %}" alt="chek" class="social-icon"></a>
    </div>