{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container header-custom text-white text-center py-3">
        <img src="{% static 'img/OnlyFlans.png' %}" alt="OnlyFlans Logo" class="imagen-logo mx-auto d-block" style="max-width: 300px ;">
        <div class = "container header-img text-center ">
                <img class="imagen" src="{% static 'img/flan1.webp' %}" alt="Flan 1" >
                <img class="imagen" src="{% static 'img/flan2.jpeg' %}" alt="Flan 2" >
                <img class="imagen" src="{% static 'img/flan3.jpeg' %}" alt="Flan 3" >
                <img class="imagen" src="{% static 'img/flan4.jpeg' %}" alt="Flan 4" >
                <img class="imagen" src="{% static 'img/flan5.jpeg' %}" alt="Flan 5" >
        </section>

</div>  